/* Empty file for template. Remember to edit only this file and not the HTML file */
body{
    background-color: rgb(203, 240, 204);
        
}
.intro{

display: flex;
flex-direction: column;

}
.intro{
    display: flex;
    align-items: center ;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.explanation{
    display:flex;
    flex-direction: column;
    align-items: center ;
   
}
.participation{
    display: flex;
    flex-direction: column;
    
}
.participation{
    
}
.benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
}
