/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
body{
    background-color: rgb(203, 240, 204);
    font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
}
.page-wrapper{
    width: 45%;
  
}
h1{
    color: rgb(100, 147, 103);
    font-size: xxx-large;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2::before {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    content: url(bonsai\ tree.webp);
}
h2{
    color: rgb(100, 147, 103);
    font-size: x-large;
    
}
h3{
    color: rgb(100, 147, 103);
    font-size: x-large;
}
p{
    white-space: wrap;
    font-size: large;
}

.intro{
    display: flex;
flex-direction: column;
align-items: flex-start;
background-image: url(vines.png);
background-repeat: no-repeat;
background-position: left;
background-size: 30%;
justify-content: flex-start;
}
.intro{
    display: flex;
    align-items: center;
}
.summary{
    width: 100%;
    height: 100%;
}
.preamble{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    display:flex;
    background-image: url(vines.png);
}
.explanation{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center ;
   
}
.main.supporting{
    display:flex;
    width:100%;
    flex-flow: row wrap;
}
.participation{
    display: flex;
    flex-direction: column;
    width: 49%;
    
}
.benefits{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 47%;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.design-selection{
    display:flex;
    flex-direction:column;
    align-items:flex-start
}
.design-archives{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}
.zen-resources{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}
.design-selection::after{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.design-archives::after{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.zen-resources::after {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    content: url(zen_tree-removebg-preview.png);
    
}


 
